<div class="card cardCurrency">
    <div class="card-body">
        <h5 class="card-title">{{data.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{data.code}} - {{data.codein}}</h6>
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="float-left">Variação </span>
                        <span class="float-right">{{data.create_date | date: 'HH:mm'}}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">Baixa </span>
                        <span class="float-right">{{data.low | currency: 'R$ '}}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">Alta </span>
                        <span class="float-right">{{data.high | currency: 'R$ '}}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">Compra </span>
                        <span class="float-right">{{data.bid | currency: 'R$ '}}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">Venda </span>
                        <span class="float-right">{{data.ask | currency: 'R$ '}}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="float-left">Variação </span>
                        <span class="float-right">{{data.varBid | currency: 'R$ '}}</span>
                    </li>
                  </ul>
            </div>
        </div>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>