<div class="card cardCurrency">
    <div class="card-body">
        <h5 class="card-title">{{data.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{data.code}} - {{data.codein}}</h6>
        <div class="row">
            <div class="col-sm">
                <ul class="list-group">
                    <li class="list-group-item">low {{data.low}}</li>
                    <li class="list-group-item">high</li>
                    <li class="list-group-item">varBid</li>
                    <li class="list-group-item">pctChange</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
            </div>
            <div class="col-sm">
                <ul class="list-group">
                    <li class="list-group-item">{{data.low}}</li>
                    <li class="list-group-item">{{data.high}}</li>
                    <li class="list-group-item">{{data.varBid}}</li>
                    <li class="list-group-item">{{data.pctChange}}</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
            </div>
        </div>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>