<nav class="navbar navbar-light ">
  <h3>Conversor de Real</h3>
</nav>
<div class="container form">
  <form [formGroup]="form">
    <div class="row">
      <app-select-currency-code class="col-sm"></app-select-currency-code>
      <app-label class="col-sm"></app-label>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label> Real</label>
          <input type="number" class="form-control" formControlName="fromConvert" value="1" (keyup)="changeBr()">
        </div>
      </div>
      <div class="col-sm ">
        <div class="form-group">
          <label for="exampleInputEmail1">{{entity.name}}</label>
          <input type="number" class="form-control" formControlName="toConvert" (keyup)="changeFrom()">
        </div>
      </div>
    </div>
    <a routerLink="/listar" class="btn primary">Ver Referencia de Moedas!</a>
  </form>
</div>