<nav class="navbar navbar-light ">
  <a class="navbar-brand" href="#">
    <h3>Conversor de Real</h3>
  </a>
</nav>

<div class="container form">
  <form>
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="exampleInputEmail1">Real para:</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Dolar</option>
                <option>Euro</option>
                <option>Libra</option>
              </select>
            </div>
          </div>
          <div class="col-sm valor">
            <span>
              1 #select1 vale 2 #select2
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm ">
        <div class="form-group">
          <label for="exampleInputEmail1">Digite um Valor para converter</label>
          <input type="email" class="form-control" id="exampleInputEmail1" value="1" aria-describedby="emailHelp">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="exampleInputEmail1">Tanto dinheiro vale tantos reais</label>
          <input type="email" class="form-control" disabled id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
    </div>
    <button (click)="go()" class="btn primary">Ver Referencia de Moedas!</button>
  </form>
</div>